
 
html, body {	
			;
			background: url(../images/pattern_47.png);
			background-image: url(../images/pattern_47.png);
			background-repeat-x: initial;
			background-repeat-y: initial;
			background-attachment: initial;
			background-position-x: initial;
			background-position-y: initial;
			background-origin: initial;
			background-clip: initial;
			background-color: rgba(38,47,44,1);
			width: 100%;
			height: 100%;
            padding:0px;
			margin:0px;
			margin-top:0px;
			font-family: 'lato',arial,helvitica, sans-serif;
			font-size: 30px;
			color: rgba(240,246,240,1) ;
       	}
		
		/*Color Pallete
		Dark Green: #B2F14D
		Vibe Green: #A1D83A
		Dark Cyan: #3DAEB6
		Vibe Cyan: #3BD1CA
		Slate Blue: #1B5366
		LightGrey: #EDF2EE
		MedGrey: #C4C5C1
		Charcoal:#293531
		*/
        

        a{
			font-weight:500;
			letter-spacing:.05em;
			color:#3DAEB6;
		    text-decoration:none;
			border-style:hidden;
        }
		
		a:visited{color:#38D1CA;}

        
        a:hover,
		a:focus,
		a:active{
            text-decoration:none;
			color:#F3F2EE;
			border-style:hidden;
        }


        .container {
            z-index:1;
          	hieght:auto;
			width:1024px;
            padding:0px 0px 0px 0px;
            margin-left:auto;
			margin-right:auto;
			margin-top:0px;
			/*background: -webkit-gradient(
				linear,
				left 0,
				right 75,
				color-stop(0, rgb(237,242,238)),
				color-stop(0.43, rgb(244,247,245)),
				color-stop(1, rgb(237,242,238))
			);
			background: -moz-linear-gradient(
				left 0,
				rgb(237,242,238) 0%,
				rgb(244,247,245) 43%,
				rgb(237,242,238) 100%
			);*/

			background-color:#FFF;
			
		    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
            -moz-box-shadow:0 0 15px rgba(0,0,0,0.5);
			-o-box-shadow:0 0 15px rgba(0,0,0,0.5);
            box-shadow:0 0 15px rgba(0,0,0,0.5);
        }

        

        .container:after {
            content:"";
            display:block;
            clear:both;
            visibility:hidden;
            height:0;
            font-size:0;
        }

        

        /* Shared styles */

        

        #content {
            float:left;
            width:1004px; 
			height:auto;
			margin-top:0px;
			padding:0 10px 0 10px;
            margin-left:auto; 
			margin-right:auto;         
        }



        .content:before,

        .content:after {
            content:"";
            position:absolute; 
            z-index:-2;
        }

        

        .content p {
            font-size:16px;
            font-weight:bold;
        }

       
        /* Curved shadows */

        .curved:before {
            top:10px;
            bottom:10px;
            left:0;
            right:50%;
            -webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
            -moz-box-shadow:0 0 10px rgba(0,0,0,0.3);
			-o-box-shadow:0 0 10px rgba(0,0,0,0.3);
            box-shadow:0 0 10px rgba(0,0,0,0.3);
            -moz-border-radius:10px / 100px;
			-o-border-radius:10px / 100px;
            border-radius:10px / 100px;
			
        }

        

        .curved-vt-2:before {
            right:0;
        }


        .curved-hz-1:before {
            top:50%;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }
		
		a.button {
			  background-color: #3DAEB6;
			  background-image:url(../images/pattern_48.png);
    		  border-bottom: 1px solid #1B5366;
              border-right: 1px solid #1B5366;
			  color: #fff;
			  font-family: freight-sans-pro,sans-serif;
			  font-size:12pt;
			  line-height: 2.4;
			  margin: 2px 2px 2px 0;
			  padding: 1px 25px;
			  text-decoration: none;
			  white-space: nowrap;
			

		}
		.button:hover {
			background-image:url(../images/pattern_vibe.png);
			/*background-color: #3BD1CA;
			color:#1B5366;*/
		}
		
		.button:active {
			position:relative;
			top:1px;
		}
		
		
		
		
		
		.headline{
			 font-family: freight-sans-pro,sans-serif;

			font-size:72px;
			font-weight:700;
			line-height:75px;
			letter-spacing:2px;
			text-align:left;
			color:#D8D8CB;
			/*text-shadow: 1px 1px 0px #19191A;*/
			
		}
			
		#header{
			position:fixed;
			z-index:4; 
			padding:10px 0 0 16px;
			margin-bottom:0px;
			margin-left:auto;
			margin-right:auto;
			margin-top:0px;
			width:1008px;
			height:28px;
		
			background-image: url(../images/pattern_48.png);
			
		/*	background: 
			-webkit-gradient(
				linear,
				right bottom,
				left top,
				color-stop(0.18, rgb(37,128,133)),
				color-stop(0.59, rgb(61,174,182))
			);
			background: -moz-linear-gradient(
   				right bottom,
   				rgb(37,128,133) 18%,
   				rgb(61,174,182) 59%
			);
*/
			
			background-color:#1B5366;
			
			-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 2), 0 0 0px rgba(0, 0, 0, 0.5) ;
			   -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 2), 0 0 0px rgba(0, 0, 0, 0.5) ;
			   	 -o-box-shadow:0 1px 2px rgba(0, 0, 0, 2), 0 0 0px rgba(0, 0, 0, 0.5) ;
                    box-shadow:0 1px 2px rgba(0, 0, 0, 2), 0 0 0px rgba(0, 0, 0, 0.5) ;
			
		}
		
		.media{
			float:right;
			z-index:1;
			margin-top:38px;
			height:480px;
			width:auto;
			border-bottom-style:none;
		}
		
		
		
		#nav{
			float:left;
			margin-left:30px;
			margin-bottom:10px;
			width:auto;
  			 font-family: freight-sans-pro,sans-serif;

			font-size:13px;
			font-weight:500;
			line-height:18px;
			letter-spacing:1px;
			padding:0 0 0 0px;
			text-align:left;	
		}
		
		#nav ul, li{
			display:inline;
			padding-left:10px;
			padding-right:10px;
			text-decoration:none;
			
		}
		
  		#nav a:link, a:visited {
			 font-family: freight-sans-pro,sans-serif;

			font-size:13px;
			line-height:18px;
			letter-spacing:1px;
			color:#EDF2EE;
			font-weight:500;
			
		}
		
		#nav a:hover,
		#nav a:focus {
            text-decoration:none;
			color:#38D1CA;
			border-style:hidden;
        }
		
		#nav a:active {color:#C4C6C1;}*/
			
		.wrapper{
			width:940px;
			height:inherit;
			margin-left:auto; 
			margin-right:auto;
			margin-top:0;
		}
		
		.image-column {
			float:left;
			margin-left:10px; 
			margin-right:10px;
			margin-top:10px;
			height:auto;
			width:540px;
		}
		
		.image-column-2 {
			float:left;
			margin-left:10px; 
			margin-right:10px;
			margin-top:10px;
			height:auto;
			width:300px;
		}
		#page-header{
			float:left;
			top:0px;
			margin-left:10px; 
			margin-top:60px; 
			height:auto;
			width:648px;
		}
		
		#page-header-long{
			float:left;
			top:0px;
			margin:60px 0 0px 10px; 
			height:auto;
			width:984px;
		}
		
		.col_img{
 			float:left;
 			margin:18px 0px 10px;
 		}

		
		#empty-column {
			float:left;
			top:0px;
			margin-left:10px; 
			margin-right:10px;
			height:auto;
			width:314px;
			background-image: url(../images/pattern_47.png);
			padding-bottom:50px;
		}
		
		
		
		#thin-column {
			float:left;
			top:0px;
			margin-left:10px; 
			margin-right:10px;
			height:auto;
			width:314px;
			color:#293531;
			text-align:left;
			font-family: freight-sans-pro,sans-serif;
			font-size:14px;
			font-weight:100;
			line-height:20px;
			padding-bottom:50px;
			
		}

		#wide-column {
			float:left;
			top:0px;
			margin-left:10px; 
			margin-right:10px;
			height:auto;
			width:628px;
			color:#293531;
			text-align:left;
			font-family: freight-sans-pro,sans-serif;
			font-size:14px;
			font-weight:100;
			line-height:20px;
			padding-bottom:50px;
		}
		
		
	    #block_quote{
			z-index:4; 
			padding:15px 20px 25px;
			margin-bottom:10px;
			margin-left:auto;
			margin-right:auto;
			margin-top:18px;
			width:294px;
			height:auto;
		
			background:#1B5466 url(../images/pattern_48.png);
			background-image: url(../images/pattern_48.png);
			background-color:#1B5466; 
			
			-webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 2), 0 0 3px rgba(0, 0, 0, 1) ;
			   -moz-box-shadow:0 3px 4px rgba(0, 0, 0, 2), 0 0 3px rgba(0, 0, 0, 1) ;
			   	 -o-box-shadow:0 3px 4px rgba(0, 0, 0, 2), 0 0 3px rgba(0, 0, 0, 1) ;
                    box-shadow:0 3px 4px rgba(0, 0, 0, 2), 0 0 3px rgba(0, 0, 0, 1) ;
					
			font-family: freight-sans-pro,sans-serif;
			font-size:34px;
			line-height:38px;
			font-weight:100;
			color:#F3F2EE;
			
		}
		
		#block_big{
			float:left;
			z-index:4; 
			padding:20px 20px 0px;
			margin:10px;
			width:944px;
			height:auto;
			/*border-top:#3DAEB6 solid medium;*/
			background-color:#EDF2EE; 
			
			-webkit-box-shadow:0 3px 4px rgba(0, 0, 0, .25), 0 0 3px rgba(0, 0, 0, .25) ;
			   -moz-box-shadow:0 3px 4px rgba(0, 0, 0, .25), 0 0 3px rgba(0, 0, 0, .25) ;
			   	 -o-box-shadow:0 3px 4px rgba(0, 0, 0, .25), 0 0 3px rgba(0, 0, 0, .25) ;
                    box-shadow:0 3px 4px rgba(0, 0, 0, .25), 0 0 3px rgba(0, 0, 0, .25) ;
					
			
		}
		
		
		
		
		#bigbutton {
			  width:984px; 
			  height:55px; 
			  margin:70px 0 0 -20px;
			  padding:5px 0;
			  background-image:url(../images/pattern_48.png);
			  background-color:#3DAEB6;
			  font-family: freight-sans-pro,sans-serif;
			  font-size:35pt;
			  text-align:center;
		      color: #fff; 
			  line-height: 2.4;
			  text-decoration: none;		  
		}
		
		#bigbutton:hover {background-image:url(../images/pattern_vibe.png);}
		
		
		#pricebutton {
			text-indent: -9999px;
	         margin:-217px -40px 0px 0px;
			 height:300px;
			 width:465px;
			 float:right;
/*			 -webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.5);
            -moz-box-shadow:2px 2px 6px rgba(0,0,0,0.5);
			-o-box-shadow:2px 2px 6px rgba(0,0,0,0.5);
            box-shadow:2px 2px 6px rgba(0,0,0,0.5);*/
			 background-image: url('../images/price.png'); background-repeat: no-repeat; background-position: 0 0; 
		}
		#pricebutton:hover {
			 background-image: url('../images/price.png'); background-repeat: no-repeat; background-position: 0 -300px; 
		}
		
		
		
		
		
		.attrib{
			text-align:right;
			font-family: freight-sans-pro,sans-serif;
			padding-top:25px;
			font-size:14pt;
			font-weight:300;
			line-height:22px;
		}
		
		
		
		table{
		width:231px;
		padding:20px 10px 10px;
	    border-right:1px #C4C5C1 dotted;
		display:table-cell;
		

		}
		
		tr{
		
		}
		
		th{
		border-bottom:medium;
		border-bottom-style:solid;
		border-bottom-color:#3DAEB6;
		color:#1B5466;
		text-align:Left;
		font-family: freight-sans-pro,sans-serif;
		font-size:18pt;
		font-weight:500;
		}
		
	    td{
		color:#1B5466;
		text-align:Left;
		font-family: freight-sans-pro,sans-serif;
		font-size:13pt;
		font-weight:500;
		display:block;
		margin:6px 0 6px 0; 
		
		}
				
		
		
		h1 {
			font-family: freight-sans-pro,sans-serif;
			font-size:42px;
			font-weight:100;
			line-height:40px;
			/*color:#1B5466;*/
		}
		
		h2{
			font-family: freight-sans-pro,sans-serif;
			font-size:18pt;
			font-weight:500;
			line-height:22px;
			/*border-top:#3DAEB6 solid medium;*/
			padding-top:5px;
			/*color:#1B5466;*/
			
		}
		
		
		h3{
			/*color:#293531;*/
			text-align:left;
			font-family: 'lato',arial,helvitica,freight-sans-pro,sans-serif;
			font-size:30px;
			font-weight:100;
			line-height:30px;
		}
		
		
		h4{
			font-family: freight-sans-pro,sans-serif;
			font-size:24pt;
			font-weight:500;
			line-height:5px;
			/*color:#3DAEB6;*/
			margin:20px 0 20px;
		}
		
		h5{
			font-family: freight-sans-pro,sans-serif;
			font-size:9pt;
			font-weight:300;
			/*color:#1B5466;*/
			
		}
		
		
		strong{
		font-weight:700;
		color:#1B5466;
		}
		
		
		#news ul{
			margin-left:-40px;
		}
		
		#news li{
			text-align:left;
			font-family: freight-sans-pro,sans-serif;
			font-size:14px;
			font-weight:100;
			line-height:20px;
		}
		
		#news a{
		  color:#3DAEB6;
		}
		
		#news a:hover{
			color:#3BD1CA;
		}
		
		
		hr {
		border-top:#3DAEB6 solid medium;
		}
		
		
		input, textarea{
		width:165px;
		}
		
		select{
		margin-left:45px;
		width:170px;
		}
		
		.submit{
		margin-top:10px;	
		width:165px;
		}
		
		
		
		#footer{
		width:1024px;
		height:30px;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		}
		
		.legal{
		 text-align:center;
		 font-family: "news-gothic-std-1","news-gothic-std-2",sans-serif;
		 font-weight:100;
		 font-size:7pt;
		 color:#293531;
		 z-index:2;
		}
		
		
		


/*-------------------SLIDE SHOW---------------------*/
#slide_show{
	z-index:0;
	width:1024px;
	height:480px;
	list-style: none;
}

#slide_show ul, #slide_show li{
list-style: none;
margin:0;
padding:0;
}


#slide_show_small{
	background-color:#fff;
	z-index:3;
	width:1024px;
	height:480px;
	margin:10px 0 10px 10px;
}

     @charset "UTF-8";
/* CSS Document */

#emailresponse {
font-weight: 100;
border-top: 1px solid rgba(240,246,240,1);
border-bottom: 1px solid rgba(240,246,240,1);
line-height: 44px;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 50px;
padding-left: 50px;
width: 440px;
left: 50%;
position: absolute;
margin-left: -264px;
margin-top: 160px;
text-align: center;
}