body {font:12px/1.4 Verdana,Arial;}
h1 {font:30px 'Trebuchet MS',Verdana; margin:0}
h2 {font-size:12px; font-weight:normal; margin:0 0 20px}
ul {margin:0; padding-left:20px}

.thumbcont  {
position: absolute;
left: 50%;
width: 149px;
margin-left: -91px;
border-radius: 5px;
behavior: url(border-radius.htc);
margin-top: 12px;
}
.thumbcont img{
cursor:pointer;
}
.cropframe{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    behavior:url(border-radius.htc);
    height: 71px;
    overflow: hidden;
    width: 154px;
    margin-left:12px;
}
.margframe{
    margin:-9px 0px 0px 0px;
}


#thumbcont2 {position:relative; float:left; width:128px; padding:10px 10px 10px 10px}
#testdiv {width:600px; margin:0px auto; border:1px solid #ccc; padding:20px 25px 12px; background:#fff}
#testdiv2 {position:relative; float:left; width:128px; margin:0px 0px 0px 20px; border:0px solid #231D1F; padding:0px 0px 0px; background:#231D1F; float:left}
#testdiv3 {position:relative; float:left; width:128px; margin:0px 0px 0px 20px; padding:0px 0px 0px; background:#231D1F}
#confbackground {width:1190px; margin:0px auto; padding:0px 0px 0px; background:#231D1F}
.conftext {
    color: #000;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    font-style:  normal;
    padding:40px;
}

.vidtext {
    color: #000000;
    font-family: arial;
    font-size: 10px;
    font-weight: normal;
    font-style:  normal;
}
.vidtextdiv{
  margin-left:11px;
}

a.confr:active {
    color: #b9a698;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    font-style:  normal;
    text-decoration: none;
}

a.confr:link, a.confr:visited {
    color: #b9a698;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    font-style:  normal;
    text-decoration: none;
}

a.confr:hover {
    color: #ffffff;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    font-style:  normal;
    text-decoration: none;
}

ul {list-style:none; margin-bottom:12px; padding:0}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#000000; color:#fff; text-shadow:1px 1px #000000; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#000000}
#frameless {padding:0}
#frameless .tclose {left:6px}
